# Ignore all
*

# Unignore files with extension
!*.*

# Unigore directories
!*/

# Building
build/
*.a
*.o
*.dll
*.so

# Testing
*.gcna
*.gcno

# Ignore root temporary file
/*.cpp
/*.c
/*.hpp
/*.h
/*.inl

# Miscs
!Makefile
